#contato {
    h1{
        color: #bdffe8;
    }
}
.form-box {
    background-image: linear-gradient(to right, rgb(31, 67, 54), #132F25);
    border-radius: 20px;
    margin: 2rem auto;
    padding: 4rem 2rem 2rem;

    .form {
        position: relative;

        &__input {
            background: none;
            border: none;
            border-bottom: 2px solid #bdffe8;
            outline: none;
            color: rgb(153, 251, 217);
            font-size: 15px;
            width: 70%;
            letter-spacing: 1px;
            margin-bottom: 17px;
            
            &:hover {
                box-shadow: 0px 2px 0px 0px #bdffe8;
                transition: .3s;
            }
        }

        &__textarea {
            background: none;
            border: none;
            border: 2px solid #bdffe8;
            outline: none;
            color: #bdffe8;
            font-size: 15px;
            width: 70%;
            letter-spacing: 1px;
            margin-bottom: 17px;
            border-radius: 0px 20px 20px 10px;
            &:hover {
                box-shadow: 0px 0px 0px 1px #bdffe8;
                transition: .3s;
            }
               
        }
        &__label {
            font-size: 17px;
            color: #bdffe8;
            position: absolute;
            top: -3px;
            left: 0px;
            pointer-events: none;
            transition: .3s;
        }
        &__input:focus ~ .form__label,
        &__input:valid ~ .form__label {
            top: -20px;
            font-size: 14px;
            color: #4e8572;           
        }
        &__submit {
            border: none;
            outline: none;
            background-color: rgb(31, 67, 54);
            border-radius: 20px;
            border: 2px solid #bdffe8;
            color: #D3FFEF;
            font-weight: bold;
            padding: 1rem 4rem;
            font-size: $font-size-default;
            text-decoration: none;
            align-self: center;
            margin-bottom: 2rem;
            &:hover {
                box-shadow: 1px 1px 0px 1px #bdffe8;
                transition: 0.5s;
            }
        }

    }
}